.header{
    position: absolute;
    display: flex;
    z-index: 10;
    height: 2.5rem;
    background-color:#a4133c ;
    width: 100%;
    flex-direction: row;
    display: flex;
}
.navbar{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.menuItem{
    padding: 12px;
}


.logo img{
    height: 30px;
    margin: 10px;
}