.main{
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    left: 0;
    top: 2.5rem;
    height: calc(100vh - 2.5rem);
    justify-content: center
;
}
.container{
    padding: 12px;
    background-color: #FEFAE0;
    width: 100%;
    height: auto;
    max-width: 700px;
    border-radius: 18px;
}

.containerTitle{
    display: flex;
    margin: 0px 10px 0px 10px;
    justify-content: space-between;
}
